body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    transition: 600ms;
    padding: 0 1%;
}

.input-grow {
    flex-grow: 1;
    flex-basis: auto;
}

input {
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgb(5, 0, 0);
    color: white;
    transition: 600ms;
    width: 15vw;
    border: 1px solid grey;
}

input:focus {
    background-color: white;
}

.icons {
    font-size: 120%;
}

li {
    color: white;
    font-size: 80%;
    margin: 0 0.8vw;
    display: flex;
    align-items: center;
    transition: 600ms;
}

li:hover {
    color: gray;
    cursor: pointer;
}

@media (max-width: 576px) {
    .large-screen {
        display: none;
    }

    ul {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .small-screen {
        display: none;
    }
}